<div class="pure-u-2-24">
</div>
<div class="pure-u-20-24">
  <h1>All Deaths per CDC Data</h1>
  <div><small>This data was pulled directly from a CDC dataset that reflects covid-19 deaths and other select causes.  The numbers do not match total deaths exactly but the increase in deaths is still      striking</small></div>
  <div>
    <div id="chartData" data-weeks='<%= @weeks.join(",") %>' 
                        data-weeklyTotals='<%= @weekly_totals.to_json %>'></div>
    <canvas id="lineChart"></canvas>
  </div>
</div>
<%= javascript_pack_tag 'cdc_data' %>

