<h1>Hi, I'm Will</h1>

<p>I am a Ruby on Rails developer and I have opinions.  I live in East Tennessee. </p>
<p>At work, I enjoy learning, being challenged, and making things better.</p>
<p>Some other things I enjoy are playing guitar, learning and reading, being outside, and the Wim Hoff Method. </p>
