<div class="pure-u-2-24"></div>
<div class="pure-u-20-24">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "pure-form pure-form-stacked" }) do |f| %>
    <div>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "pure-input-1-2" %>
    </div>

    <div>
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "pure-input-1-2" %>
    </div>
    <div class="actions">
      <%= f.submit "Log in", class: "pure-button pure-button-primary" %>
    </div>
  <% end %>
</div>