<div class="pure-u-2-24">
</div>
<div class="pure-u-20-24"

    <h1>Editing Post</h1>

    <%= render 'form', post: @post %>

    <%= link_to 'Show', @post %> |
    <%= link_to 'Back', posts_path %>
</div>