  <h1>Posts</h1>
  <% if current_user %>
    <%= link_to "New", new_post_path %>
  <% end %>
  <% @posts.each do |post| %>
    <div>
      <h3><%= link_to post.title, post %></h3>
    </div>
    <div>
      <%= truncate(strip_tags(post.body.to_s), length: 400 ) %>
    </div>

  <% end %>

