<!DOCTYPE html>
<html>
  <head>
    <title>WillWilson.dev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css" />
    <!-- opensource, privacy aware visit tracking -->
    <script data-goatcounter="https://willwilson.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  </head>

  <body>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3"><strong>Will Wilson, Full Stack Developer</strong></div>
      <div class="pure-u-1 pure-u-md-1-3">
        <nav class="pure-menu pure-menu-horizontal pure-menu-open">
          <ul class="pure-menu-list">
            <li><%= link_to "About Me", about_me_path, class: "pure-menu-link" %></li>
            <li><%= link_to "Home", posts_path, class: "pure-menu-link" %></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3"></div>
      <div class="pure-u-1 pure-u-md-1-3">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-6-24">
      </div>
      <div class="pure-u-1 pure-u-md-12-24">
          <%= yield %>
      </div>
    </div>
  </body>
</html>
